<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<body>
    <h1>Welcome to the AI Page</h1>
    
    <div id="output1"></div>
</body>
<script>
    function choice(){
       
        $.ajax({
            url: "/choice",
            data:{
                dolzina: dolzina
            },
            success: function(result) {
                output1.innerHTML = result;
            }
        });
    }
</script>
</html>