<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<body>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</body>
<script>
    function getAI(){
       var output1 = document.getElementById("output1");
        $.ajax({
            url: "/getAI",
            data:{
                vprasanje : document.getElementById("vprasanje").value
            },
            success: function(result) {
                output1.innerHTML = result;
            }
        });
    }
</script>
</html>