<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <h1>Welcome to the Index Page</h1>

    <input type="text" name="stock" id="choice" placeholder="Enter your choice">
    <button type="submit" id="submit" onclick="index()">Add</button>

    <table border="1" id="stock">
        <thead>
            <th>Name</th>
            <th>Price Open</th>
            <th>Price Close</th>
            <th>High Price</th>
            <th>Low Price</th>
            <th>Volume</th>
            <th>/</th>
        </thead>
        <tbody id="stock">


        </tbody>

    </table>
    <div id="error"></div>
</body>
<script>
    function index(){
        const choice = $('#choice').val();
        $.ajax({
            url: "/index",
            type: 'POST',
            data:{
                choice: choice,
            },
            success: function(stock) {
                const nov_tr = `
                <tr>
                    <td><button class="preusmeri">${stock.name}</button></td>
                    <td>${stock.price_open}</td>
                    <td>${stock.price_close}</td>
                    <td>${stock.high_price}</td>
                    <td>${stock.low_price}</td>
                    <td>${stock.volume}</td>
                    <td><button class="del">Remove</button></td>
                </tr>
                `;

                $('#stock').append(nov_tr);


                if(stock.error) {
                    stock.innerHTML = stock.error;
                } else {
                    stock.innerHTML = '';
                }
            }
        });
        $(document).on('click', '.del', function() {
            $(this).closest('tr').remove();
        });

        $(document).on('click', '.preusmeri', function() {
            const choice = $('#choice').val();

            $.ajax({
            url: "/choice",
            type: 'POST',
            data:{
                choice: choice,
            },
            success: function(){
                window.location.href = "/choice";
            }
        });
        });
    }
</script>
</html>