<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<body>
    <h1>News</h1>

    
    <input type="text" name="stock" id="choice" placeholder="Enter your choice">
    <button type="submit" id="submit" onclick="charts()">Show</button>

    <div id="news"></div>
    <div>
        <a href="/index">Back</a>

    </div>
</body>
<script>
    function news(){
        const choice = $('#choice').val().trim();
        $.ajax({
            url: "/news",
            type: 'POST',
            data:{
                choice: choice,
            },
            success: function(result) {
            }
        });
    }
</script>
</html>